@model List<Movie>
@{
    ViewData["Title"] = "Home Page"; // OBJETO DINAMICO. PODEMOS PONER CUALQUIER PROPIEDAD U ASIGNALE UN VALOR.
}



<div class="text-center">
    <h1 class="display-4">Películas</h1>
    <p>Top 10 mejores películas<a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>



<!-- background -->
<!DOCTYPE html>
<html>
<head>
    <link rel="icon">
    <title>Images</title>
    <style>
        body {
            height: 100vh;
            background-image: url("https://p4.wallpaperbetter.com/wallpaper/662/905/208/star-wars-movies-death-star-black-background-1920x1080-entertainment-movies-hd-art-wallpaper-preview.jpg");
            color:grey;
            padding: 10px;
            background-position: auto;
            background-size: cover ;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h3>@@Background</h3>
</body>
</html>

