@model List<Movie>
@{
    ViewData["Title"] = "Home Page"; // OBJETO DINAMICO. PODEMOS PONER CUALQUIER PROPIEDAD U ASIGNALE UN VALOR.
}



<div class="text-center">
    <h1 class="display-4">Películas</h1>
    <p>Top 10 mejores películas<a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>




