@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<!-- background -->
<!DOCTYPE html>
<html>
<head>
    <link rel="icon">
    <title>Images</title>
    <style>
        body {
            height: 100vh;
            background-image: url("https://p4.wallpaperbetter.com/wallpaper/662/905/208/star-wars-movies-death-star-black-background-1920x1080-entertainment-movies-hd-art-wallpaper-preview.jpg");
            color:grey;
            padding: 10px;
            background-position: auto;
            background-size: cover ;
            background-position: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h3>@@Background</h3>
</body>
</html>